DISCORD_TOKEN=SEU_TOKEN_AQUI
DISCORD_CLIENT_ID=ID_DO_APP
DISCORD_GUILD_ID=1327511177550368798
PRIMARY_GUILD_ID=1327511177550368798
DAILY_VERSE_CHANNEL_ID=ID_DO_CANAL_PARA_VERSICULO
DISCORD_LOG_CHANNEL_ID=1515012665100075148
SUPABASE_URL=SUA_URL_DO_SUPABASE
SUPABASE_SERVICE_ROLE_KEY=SUA_SERVICE_ROLE_KEY_DO_SUPABASE
SUPABASE_GUILD_CONFIG_TABLE=guild_configs
PORT=3000
TZ=America/Sao_Paulo
NODE_ENV=development
N8N_WEBHOOK_URL=SUA_URL_DO_WEBHOOK_N8N
N8N_WEBHOOK_TOKEN=SEU_TOKEN_N8N
WHATS_GROUP_JID=SEU_JID_DO_GRUPO_WHATSAPP

# 3x ao dia: 08:00, 12:00, 18:00
CRON_SCHEDULE=0 8,12,18 * * *
